.loader {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .spinner {
    border: 3px solid #cbcbcb;
    /* Light grey */
    border-top: 3px solid #1e1e1e;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}